/* Main Body */
body{
	font: 16px/2 "kalimati",verdana, sans-serif;
	letter-spacing: 0.8px;
}

/* Header 1 */
h1{
	color: #666;
	font-size: 48px;
	padding: 23px 0 22px 0;
	letter-spacing: 0;
}

/* Header 2 */
h2{
	color: #f07c17;
	font-size: 24px;
	font-weight: bold;
	margin: 0 0 30px 0;
}

/* Border Box Definition - Main Features */
.main-features{
	border: 1px solid #cccccc;
	margin: 30px 80px 30px 0;
	padding: 31px 40px 29px 30px;
}
